anyio
click
colorama
fastapi
h11
idna
numpy
pandas
pyarrow
pydantic
pydantic_core
python-dateutil
pytz
six
sniffio
starlette
typing_extensions
tzdata
uvicorn
sqlalchemy
requests
matplotlib
seaborn
wordcloud
scikit-learn
nltk
gunicorn
