anyio==4.3.0
click==8.1.7
fastapi==0.115.6
fastjsonschema==2.19.1
gunicorn==21.2.0
ipykernel==6.29.2
opencv-python==4.10.0.84
pydantic==1.10.19
pydantic_core==2.20.1
pymongo==4.10.1
PyYAML==6.0.2
requests==2.32.3
typing_extensions==4.12.2
tzdata==2023.4
wheel==0.43.0
uvicorn==0.23.2
python-jose==3.3.0
passlib[bcrypt]==1.7.4

